.mobile_menu_content {
	top: 0px;
	bottom: 0;
	left: -350px;
	height: 100vh;
	z-index: 101;
	position: fixed;
	width: 310px;
	overflow-y: scroll;
	background-color: $body-color;
	padding: 20px 35px 35px 35px;
	box-shadow: 0px 3px 5px rgba(100, 100, 100, .19);
	transition: all 0.5s ease-in;
	.mobile-main-navigation {
		width: 100%;
		.navbar-nav {
			width: 100%;
		}
	}
	.dropdown:after {
		display: none;
	}
	.navbar-nav .dropdown-menu {
		position: static !important;
		transform: none !important;
	}
	.mobile-main-navigation .navbar-nav li {
		width: 100%;
		display: block;
		transition: .3s all ease-in-out;
		a {
			padding: 0;
			width: 100%;
			color: #fff;
			display: block;
			font-weight: 600;
			font-size: 14px;
			font-family: $heading;
			text-transform: uppercase;
			padding: 10px 30px 10px 0;
			border-bottom: 1px solid rgb(245, 245, 245, .17);
		}
	}
	.m-brand-logo {
		width: 90px;
		margin-bottom: 50px;
	}
}
.mobile_menu_wrap.mobile_menu_on .mobile_menu_content {
	left: 0px;
	transition: all 0.7s ease-out;
}
.mobile_menu_overlay {
	top: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 100;
	right: 0%;
	height: 120vh;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(0, 0, 0, .9);
	transition: all .5s ease-in-out;
}
.mobile_menu_overlay_on {
	overflow: hidden;
}
.mobile_menu_wrap.mobile_menu_on .mobile_menu_overlay{
	opacity: 1;
	visibility: visible;
}
.mobile_menu_button {
	right: 0;
	top: 0px;
	z-index: 5;
	color: #fff;
	display: none;
	cursor: pointer;
	font-size: 22px;
	line-height: 40px;
	position: absolute;
	text-align: center;
}
.mobile_menu{
	.mobile-main-navigation .navbar-nav li a:after {
		display: none;
	}
	.mobile-main-navigation .dropdown > .dropdown-menu {
		opacity: 1;
		visibility: visible;
	}
	.mobile_menu_content .mobile-main-navigation .navbar-nav {
		.dropdown-menu {
			border: none;
			display: none;
			transition: none;
			box-shadow: none;
			padding: 5px 0px;
			width: 100%;
			background-color: transparent;
			li {
				border: none;
				padding: 0 10px;
				line-height: 1;
				&:hover {
					background-color: transparent;
				}
				a {
					color: #fff !important;
					&:hover {
						color: $base-color;
						background-color: transparent;
					}
				}
			}
		}
	}
	.dropdown {
		position: relative;
		.dropdown-btn {
			color: #9397a7;
			position: absolute;
			top: 3px;
			right: 0;
			height: 30px;
			padding: 5px 10px;
			&.toggle-open {
				transform: rotate(90deg);
			}
		}
	}
	.mobile_menu_close {
		color: #d60606;
		cursor: pointer;
		top: 25px;
		right: 25px;
		font-size: 20px;
		position: absolute;
	}
}
.header-style-two {
	.mobile_menu_button {
		color: $body-color;
	}
}
.header-style-two.sticky-on,
.header-style-three.sticky-on,
.header-style-five.sticky-on {
	.mobile_menu_content {
		top: 60px;
	}
}