@-webkit-keyframes line_animation {
	0% {
		top: 0px;
		opacity: 1;
	}
	50% {
		top: 50%; 
	}
	100% {
		top: 100%;
		opacity: 1; 
	} 
}

@keyframes line_animation {
	0% {
		top: 0px;
		opacity: 1; 
	}
	50% {
		top: 50%; 
	}
	100% {
		top: 100%;
		opacity: 1; 
	} 
}

@-webkit-keyframes line_animation_2 {
	0% {
		opacity: 1;
		bottom: 0px; 
	}
	50% {
		bottom: 50%;
	}
	100% {
		bottom: 100%;
		opacity: 1; 
	} 
}

@keyframes line_animation_2 {
	0% {
		opacity: 1;
		bottom: 0px;
	}
	50% {
		bottom: 50%; 
	}
	100% {
		bottom: 100%;
		opacity: 1;
	} 
}
.line_animation {
	top: 0px;
	left: 50%;
	width: 80%;
	bottom: 0px;
	z-index: -1;
	display: block;
	position: absolute;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	border-left: 1px solid #182637; 
	&:before {
		width: 7px;
		left: -4px;
		content: '';
		height: 36px;
		position: absolute;
		-webkit-animation: line_animation 15s ease-out infinite;
		animation: line_animation 15s ease-out infinite;
		background-color: $base-color3;
	}
	.line_area {
		width: 20%;
		float: left;
		height: 100%;
		position: relative;
		display: inline-block;
		border-right: 1px solid #182637;
		&:before {
			width: 7px;
			right: -4px;
			content: '';
			height: 36px;
			position: absolute;
			background-color: $base-color3;
		}
	}
}
.line_animation .line_area:nth-child(even):before {
	-webkit-animation: line_animation 15s ease-out infinite;
	animation: line_animation 15s ease-out infinite;
}
.line_animation .line_area:nth-child(odd):before {
	-webkit-animation: line_animation_2 15s ease-out infinite;
	animation: line_animation_2 15s ease-out infinite;
}
.pp-easing {
	-webkit-transition: all 3000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
	-moz-transition: all 3000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
	-o-transition: all 3000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
	transition: all 3000ms cubic-bezier(0.550, 0.085, 0.000, 0.990);
	-webkit-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
	-moz-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
	-o-transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
	transition-timing-function: cubic-bezier(0.550, 0.085, 0.000, 0.990);
}
.split-home {
	background-color: #121e2d;
}
// *** Header Style six***//
.split-header-area {
	bottom: 0;
	width: 100%;
	z-index: 5;
	padding: 40px 80px;
	position: absolute;
	background-color: #0e1926;
	.split-logo {
		margin-right: 120px;
	}
	.split-header-menu {
		li {
			margin-right: 40px;
			a {
				color: #fff;
				font-weight: 700;
				font-family: $heading;
				text-transform: uppercase;
			}
		}
	}
	.split-header-share {
		top: 0;
		right: 0;
		color: #fff;
		width: 120px;
		height: 120px;
		position: absolute;
		background-color: $base-color3;
		h3 {
			font-size: 16px;
			font-weight: 700;
			line-height: 120px;
		}
	}
	.split-header-menu {
		padding-top: 14px;
	}
}
.split-header-top-section {
	top: 0;
	width: 100%;
	z-index: 5;
	position: absolute;
	.header-top-search,
	.header-top-mail {
		button {
			padding: 0;
			width: 120px;
			border: none;
			height: 120px;
			background-color: #0e1926;
			i {
				color: #fff;
				font-size: 30px;
			}
		}
	}
}
.split-side-info {
	top: 50%;
	left: 40px;
	z-index: 5;
	position: absolute;
	text-orientation: mixed;
	writing-mode: vertical-rl;
	transform: translateY(-50%);
	li {
		color: #fff;
		font-weight: 700;
		margin-bottom: 25px;
		font-family: $heading;
		text-transform: uppercase;
	}
}
.split-side-info2 {
	top: 50%;
	right: 40px;
	z-index: 5;
	position: absolute;
	transform: translateY(-50%);
	h3 {
		color: #fff;
		font-size: 16px;
		text-orientation: mixed;
		writing-mode: vertical-rl;
		text-transform: uppercase;
	}
}
.split-text-wrap {
	max-width: 750px;
	animation: zoomIn .9s both .9s;
	.slider-tag-item {
		span {
			color: #fff;
			font-size: 20px;
			font-weight: 600;
		}
	}
	h1 {
		color: #fff;
		font-size: 100px;
		font-weight: 700;
		padding-bottom: 15px;
		text-transform:  uppercase;
	}
	p {
		color: #fff;
		font-size: 18px;
		max-width: 700px;
		padding-bottom: 35px;
	}
	.slider-btn {
		.taeled-btn {
			color: #fff;
			margin-right: 15px;
			display: inline-block;
			&:nth-child(1) {
				background-color: $base-color3;
				i {
					color: #fff;
					background-color: $body-color;
				}
			}
			&:nth-child(2) { 
				border: 2px solid #434d5a;
				background-color: transparent;
				i {
					color: $body-color;
					background-color: #fff;
				}
			}
		}
	}
}
.taeled-split-section {
	.section-title {
		margin: 0 auto;
		max-width: 650px;
		span {
			color: $base-color3;
		}
		h2 {
			color: #fff;
		}
	}
	.title-border h2:after {
		background-color: $base-color3;
	}
	.intro-video-form form .taeled-btn, 
	.intro-video-form form .taeled-btn button {
		background: $base-color3; 
	}
	.about-text-details {
		margin-bottom: 25px;
	}
	.about-mission-vission .ab-mission-vission-area h3,
	.about-mission-vission .ab-mission-vission-area p,
	.about-text-details {
		color: #fff;
	}
}